.App {
  text-align: center;
}

.overviewContainer {
  padding: 16px;
}

.walletHeaderContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
}

.walletHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.balanceHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.backArrow {
  position: absolute;
  left: 12px;
}

.leftAlignedText {
  text-align: left;
}